---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to chat? shoot me a dm <a
        href="https://linkedin.com/in/flojule"
        target="_blank"
        class="link link-hover text-primary"
        >on LinkedIn</a
      >.
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - Florian Jule
    </p>
  </aside>
</footer>
